.section-specialty{
    height: 330px;
    background: #f5f5f5;
    border: 1px solid green;

    .specialty-container{
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        .specialty-header{
            height: 60px;
             margin-bottom: 30px;
             padding-top: 30px;
             .title-section{
                font-size: 22px;
                font-weight: 600;
             }
             .btn-section{
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #eee;
                &:hover{
                    background: rgb(200, 200, 28);
                    color: #fff;
                }
             }
        }
        .specialty-body{
            .specialty-customize{
                .bg-image{
                    background: url('../../../assets/images/specialty/image.png') center center no-repeat;
                    background-color: #eee;
                    width: 278px;
                    background-size: cover;
                    height: 150px;
                    border-radius: 20px;
                }
            }
            .bg-image{
                display: block;
                height: 200px;
                width: 280px;
            }
            .slick-prev{
                left: -20px !important; 
                z-index: 1000 !important;
                height: 40px !important;
                width: 40px !important;
                background-color:#fff !important;
                &:hover{
                    background: #eceaea !important;
                }
            }
            .slick-next::before,
            .slick-prev::before{
                font-family: FontAwesome !important;
                color: red !important;
            }
            .slick-next{
                right: -20px !important; 
                height: 40px !important;
                width: 40px !important;
                background-color: #fff !important;
                &:hover{
                    background: #eceaea !important;
                }
            }
          
        }
    }
    
}


